----------------------------------------
Hedwig semantic pattern mining (anze.vavpetic@ijs.si)
Version: 0.3.1
Start: 2018-08-21T13:21:06.707442
Time taken: 43.59 seconds
Parameters:
	bk_dir=ontology/
	data=data.n3
	format=n3
	output=rules
	covered=None
	mode=subgroups
	target=None
	score=lift
	negations=False
	alpha=0.05
	adjust=fwer
	FDR=0.05
	leaves=True
	learner=heuristic
	optimalsubclass=False
	uris=False
	beam=20
	support=0.1
	depth=5
	nocache=True
	verbose=False
----------------------------------------
'A'(X) <--
	geo_region(X, cou_NL), geo_region(X, City) [cov=27, pos=25, prec=0.926, lift=1.268, pval=0.000]
	geo_region(X, cou_NL), geo_region(X, Capital) [cov=26, pos=24, prec=0.923, lift=1.264, pval=0.000]
	geo_region(X, cou_NL) [cov=29, pos=26, prec=0.897, lift=1.228, pval=0.000]
'B'(X) <--
	geo_region(X, reg_Eastern_Asia), annotated_with(X, glo_StandardPoor) [cov=12, pos=10, prec=0.833, lift=3.086, pval=0.000]
	geo_region(X, reg_Eastern_Asia), annotated_with(X, Pos_Financial_Sentiment), annotated_with(X, Angela_Merkel) [cov=12, pos=10, prec=0.833, lift=3.086, pval=0.000]
	annotated_with(X, org_IMF), annotated_with(X, Financial_Failure_Term) [cov=10, pos=8, prec=0.800, lift=2.963, pval=0.000]
	annotated_with(X, Nicolas_Sarkozy), annotated_with(X, Financial_Crisis_Term) [cov=10, pos=8, prec=0.800, lift=2.963, pval=0.000]
	annotated_with(X, org_EU), annotated_with(X, Rating_Agency), annotated_with(X, Nicolas_Sarkozy) [cov=14, pos=11, prec=0.786, lift=2.910, pval=0.000]
	geo_region(X, reg_Eastern_Asia), annotated_with(X, Angela_Merkel) [cov=16, pos=12, prec=0.750, lift=2.778, pval=0.000]
	annotated_with(X, org_EU), annotated_with(X, Rating_Agency), annotated_with(X, Company) [cov=16, pos=12, prec=0.750, lift=2.778, pval=0.000]
	annotated_with(X, org_EU), annotated_with(X, glo_StandardPoor) [cov=18, pos=13, prec=0.722, lift=2.675, pval=0.000]
	geo_region(X, reg_Eastern_Asia), annotated_with(X, Pos_Financial_Sentiment) [cov=17, pos=12, prec=0.706, lift=2.614, pval=0.000]
	annotated_with(X, Index), annotated_with(X, Pos_Financial_Sentiment), annotated_with(X, Angela_Merkel) [cov=10, pos=7, prec=0.700, lift=2.593, pval=0.002]
	annotated_with(X, Index), annotated_with(X, glo_StandardPoor) [cov=13, pos=9, prec=0.692, lift=2.564, pval=0.000]
	annotated_with(X, Nicolas_Sarkozy), annotated_with(X, Financial_Markets) [cov=22, pos=15, prec=0.682, lift=2.525, pval=0.000]
	annotated_with(X, Organization), annotated_with(X, glo_StandardPoor) [cov=21, pos=14, prec=0.667, lift=2.469, pval=0.000]
	annotated_with(X, Nicolas_Sarkozy), annotated_with(X, Pos_Financial_Sentiment) [cov=18, pos=12, prec=0.667, lift=2.469, pval=0.000]
	annotated_with(X, Index), annotated_with(X, Angela_Merkel) [cov=12, pos=8, prec=0.667, lift=2.469, pval=0.001]
	annotated_with(X, Nicolas_Sarkozy) [cov=25, pos=16, prec=0.640, lift=2.370, pval=0.000]
	annotated_with(X, org_EU), annotated_with(X, Rating_Agency) [cov=22, pos=14, prec=0.636, lift=2.357, pval=0.000]
	annotated_with(X, Index), annotated_with(X, Financial_Failure_Term) [cov=11, pos=7, prec=0.636, lift=2.357, pval=0.005]
	annotated_with(X, Company), annotated_with(X, Angela_Merkel) [cov=23, pos=14, prec=0.609, lift=2.254, pval=0.000]
	geo_region(X, cou_HK), annotated_with(X, Company) [cov=15, pos=9, prec=0.600, lift=2.222, pval=0.002]
