----------------------------------------
Hedwig semantic pattern mining (blaz.skrlj@ijs.si and anze.vavpetic@ijs.si)
Version: 0.3.1
Start: 2019-01-15T08:40:25.840366
Time taken: 0.02 seconds
Parameters:
	bk_dir=ontology/
	data=data.n3
	format=n3
	output=rules
	covered=None
	mode=subgroups
	target=None
	score=lift
	negations=False
	alpha=0.05
	latex_report=False
	adjust=none
	FDR=0.05
	leaves=True
	learner=heuristic
	optimalsubclass=False
	uris=False
	beam=1
	support=0.0
	depth=5
	nocache=True
	verbose=False
----------------------------------------
'+'(X) <--
	annotated_with(X, OddVariable) [cov=3, pos=3, prec=1.000, lift=2.000, pval=0.012]
